.sidebar_chats {
    padding:18px;
    cursor: pointer;
    border-bottom: 2px solid #f6f6f6f6;
    display: flex;
}

.sidebar_chats:hover{
    background-color: #ebebeb;
}

.sidebar_chats_info{
    margin-left: 15px;
}

.sidebar_chats_info > h2{
    font-size: 17px;
    margin-bottom: 8px;
}

.sidebar_chats_info >p {
    font-size: 14px;
}

